.article-container{
    background-color: #111;
    display: flex;
    width: 100%;
    position: relative;
}

.article-main{
    color: #fff;
}

.article-columm-left{
    width: 100%;
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.article-columm-left h2{
    font-size: 40px;
    padding-top: 180px;
    font-family: "roboto mono";
}

.article-columm-left h3{
    font-size:60px;
    padding-top: 100px;
    font-family: "roboto mono";
}

.article-columm-left p{
    padding-top: 20px;
    font-size: 18px;
    font-family: "roboto";
    line-height: 1.5;
}

.article-columm-left strong{
    background-color: #0048a7;
}

.article-columm-right{
    width: 100%;
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.article-columm-right h2{
    font-size: 40px;
    padding-top: 200px;
    font-family: "roboto mono";
}

.article-columm-right p{
    margin-bottom: 100px;
    padding-top: 20px;
    font-size: 18px;
    font-family: "roboto";
    line-height: 1.5;
}

.article-columm-right strong{
    background-color: #0048a7;
}


.article-main p strong{
    background-color: #0048a7;
}

.linha-article{
    background: linear-gradient(to right, #ddd, #888);
    height: 2px;
    width: 1000px;
    position: absolute;
    right: 0;
    top: 337px;
}

@media (max-width: 720px){

    .article-container{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .article-columm-left{
        text-align: left;
    }
    .article-columm-left p{
        width: 300px;
        font-size: 16px;
    }

    .article-columm-right{ 
        text-align: left;
    }
    .article-columm-right p{
        width: 300px;
        font-size: 16px;
    }

    .article-columm-left h3{
        padding-top:200px;
        text-align: left;
        font-size: 40px;
    }

    .linha-article {
        margin-top: 70px;
        width: 100%;
        max-width: 300px;
        top: 30px; /* Ajusta posição vertical */
        /* display: none; /* Opcional: Ocultar em telas muito pequenas se poluir */
    }
}