.hero-main{
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #000;
    display: flex;
    align-items: center;
    z-index: 10;
    color: #fff;
}

.hero-main h1{
    color: #fff;
    font-size: 80px;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    width: 1500px;
    padding-left: 150px;
}

.hero-main h1 strong{
    background-color: #0048a7;
    line-height: 1.5;
}

.subtitle{
    position: absolute;
    bottom: 30px;
    right: 150px;
}

.hero-main p{
    color: #ffffff;
    letter-spacing: 2px;
    text-align: right;
    font-size: 24px;
    width: 900px;
    font-family: "nunito", Arial, Helvetica, sans-serif;
}

.linha-hero{
    position: absolute;
    top: 0;
    left: 150px;
    background: linear-gradient(to top, #ddd, #888);
    width: 2px;
    height: 100px;
}


/* RESPONSIVIDADE */

@media (max-width: 767px) {
    .hero-main{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        
    }
    .hero-main h1{
        align-self: center;
        width: 450px;
        text-align: center;
        font-size: 34.5px;
        padding: 0 50px;
    }

    .subtitle{
        background-color: red;
    }
    .hero-main p{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 100px;
        text-align: center;
        width: 400px;
        font-size: 15px;
        font-family: "nunito", Arial, Helvetica, sans-serif;
    }

    .linha-hero{

    }
}