.argument-container{
    background-color: #111;
    display: flex;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.argument-main{
    color: #fff;
}

.argument-columm-left{
    flex: 1; 
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}


.argument-columm-left h2{
    font-size: 40px;
    padding-top: 180px;
    font-family: "roboto mono";
}

.argument-columm-left p{
    text-align: left;
    padding-top: 20px;
    font-size: 18px;
    font-family: "roboto";
    line-height: 1.5;
}

.argument-columm-left strong{
    background-color: #0048a7;
}

.argument-columm-right{
    flex: 1; 
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 500px;
}



.argument-columm-right h2{
    font-size: 40px;
    padding-top: 200px;
    font-family: "roboto mono";
}

.argument-columm-right p{
    text-align: left;
    margin-bottom: 100px;
    padding-top: 20px;
    font-size: 18px;
    font-family: "roboto";
    line-height: 1.5;
}

.argument-columm-right strong{
    background-color: #0048a7;
}


.argument-main p strong{
    background-color: #0048a7;
}

.linha-argument{
    background: linear-gradient(to right, #ddd, #888);
    height: 2px;
    width: 1100px;
    position: absolute;
    right: 0;
    top: 337px;
}


.argument-columm-left h3{
    
    font-size:60px;
    padding-top: 100px;
    font-family: "roboto mono";
}

@media (max-width: 720px){

    .argument-container{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .argument-columm-left{
        text-align: left;
    }
    .argument-columm-left p{
        width: 300px;
        font-size: 16px;
    }

    .argument-columm-right{ 
        text-align: left;
    }
    .argument-columm-right p{
        width: 300px;
        font-size: 16px;
    }


    .linha-argument {
        margin-top: 70px;
        width: 100%;
        max-width: 300px;
        top: 30px; /* Ajusta posição vertical */
        /* display: none; /* Opcional: Ocultar em telas muito pequenas se poluir */
    }}